body{
    background-color: #ffffff;
}
h1{
    color: rgb(12, 12, 12);
    margin-left: 35rem;
}
.form{
    background-color: rgb(225, 201, 220);
    width: 80rem;
    height: 15rem;
    border-radius:1rem;
    margin-left: 6rem;
}
.btnexpense{
    margin-top: 6rem;
    margin-left: 20rem;
    width: 20rem;
    height: 3rem;
    background-color: rgb(162, 212, 204);
    border-radius: 0.5rem;
    font-size: 2rem;
    border-color: aquamarine;


}
input{
    margin-left: 5rem;
    margin-top: 2rem;
    border-radius: 0.2rem;
    padding: 0.4rem;
}
label{
   margin-left: 1rem;
}

.table{
    margin-left: 25rem;
}
.table{
    flex-direction: column;
    display: block;
}
.form-control{
    border-radius: 0.2rem;
    padding: 0.4rem;
}
.expense-table-body{
    margin-left: 30rem;
    padding-left: 1.0rem;
}
.col{
    gap: 34rem;
    margin-left: 50rem;
}
th{
    gap: 35rem;
    margin-left: 50rem;
    padding-left: 15rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
    
}
.table{
    background-color: rgba(122, 104, 104, 0.695);
    width: 80rem;
    height: 30rem;
    border-radius:1rem;
    margin-left: 6rem;
}
h2{
    background-color: rgba(51, 40, 40, 0.695);
    border-bottom: 1px solid;
    border-top: 1px solid;
    
}
